*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "游ゴシック体", YuGothic, "Yu Gothic Medium", "Yu Gothic", Roboto,
    "Segoe UI", "Helvetica Neue", HelveticaNeue, Verdana, Meiryo, sans-serif;
  color: $colorDefault;
}

b,
strong,
.bold {
  font-family: -apple-system, BlinkMacSystemFont, "游ゴシック体", YuGothic, "Yu Gothic", Roboto, "Segoe UI semibold",
    "Helvetica Neue", HelveticaNeue, "Segoe UI", Verdana, Meiryo, sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fontMincho {
  font-family: "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
    "ＭＳ 明朝", serif;
}

body {
  display: flex;
  flex-direction: column;

  > * {
    width: 100%;
  }
}

.mainFooter {
  margin-top: auto;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  width: auto;
  height: auto;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

.ua-pc a[href^="tel:"] {
  pointer-events: none;
}

a {
  color: $colorMain;
}

/* IEだけに適応 */
_:lang(x)::-ms-backdrop,
html,
b,
strong,
.bold {
  font-family: Meiryo, "Segoe UI", sans-serif;
}
