/* pattern color */
$colorMain: #4d5f83;
$colorDefault: #4d5f83;
$colorVata: #5cb704;
$colorPitta: #95141b;
$colorKapha: #7c93db;
$colorTime: #868686;

$colorBackground: #6095ab;
$colorBackgroundDark: #397b96;
$colorPageBackground: #f1f5f5;
$colorTopPageColumnBackground: #dbe7ec;
$colorNoImageBackground: #c6c7c8;
$colorfixedNavItemLinkBackground: #7ba7b9;
$colorPageNationLinkBackground: #b2b2b3;

$colorBoxShadow: #4b6adb;

.colorMain {
  color: $colorMain;
}

.colorDefault {
  color: $colorDefault;
}

.colorVata {
  color: $colorVata;
}

.colorPitta {
  color: $colorPitta;
}

.colorKapha {
  color: $colorKapha;
}
